@import "@/styles/mixins.scss";
@import "@/styles/variables.scss";
.navbar {
  @include max-width;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 4rem 2rem;
  .containerLinks {
    .links {
      display: flex;
      gap: 2rem;
      font-size: 1.4rem;
      li {
        a {
          padding: 0.8rem 1.2rem;

          &:hover {
            transition: all 0.4s ease;
            color: $gray;
          }
        }
      }
    }
  }
}
