@import "@/styles/mixins.scss";
@import "@/styles/variables.scss";
.resources {
  @include max-width;
  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: $lightBlack;
    padding: 8rem 6rem;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    p {
      max-width: 70rem;
    }
    .list {
      display: flex;
      gap: 5px;
      justify-content: space-between;
      .item {
        h3 {
          margin-top: 1rem;
          font-weight: 500;
        }
        h4 {
          margin-top: 2rem;
        }
        svg {
          width: 3.2rem;
          height: 3.2rem;
        }
      }
    }
  }
}
